/*@import url("https://spinfish.github.io/amethyst/support/amethyst.compiled.css");*/
/*@import url(https://raw.githubusercontent.com/DevEvil99/DarkPlus-Discord-Theme/refs/heads/main/Dark%2B.theme.css);*/
@import url(https://croissantdunord.github.io/discord-adblock/adblock.css);
@import url(https://raw.githubusercontent.com/Bonkeyzz/Discord-Remove-useless-chat-buttons/main/RemoveChatButtons.theme.css);

/* Dark Plus */
/*
 *  TO USE THE THEME WITH THE DEFAULT MEMBER LIST:
 *  → Comment out the first @import line below.
 *  → Then, uncomment the second @import line.
 */
/*@import url('https://devevil99.github.io/devevil/BetterDiscordAddons/Theme/Dark+/Dark+.theme.css');*/
@import url('https://devevil99.github.io/devevil/BetterDiscordAddons/Theme/Dark%2B/Dark%2B-Default-Member-List.css');


:root {
    --darkplus-bg: #0a0a0a;
    --darkplus-bg2: #302f2f;
    --darkplus-sec: #6d09e8;
    --darkplus-links: #6208d1;
    --darkplus-home-icon: url(https://i.imgur.com/RvlNQ7k.png);
    --watermark-filter-invert: 0%;
    --watermark-filter-sepia: 50%;
    --watermark-filter-saturate: 3000%;
    --watermark-filter-hue-rotate: 210deg;
    --watermark-filter-brightness: 70%;
    --watermark-filter-contrast: 200%;
}

